ESTOQUERETAILID/Estoque/ConsultaEstoque/v1/WADL/ConsultarEstoqueRestHTTPV1.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="ConsultaEstoqueRestHTTPV1">ConsultaEstoqueRestV1</doc>
  <grammars>
    <xsd:schema targetNamespace="http://service.ultra.com.br/estoque/ConsultaEstoque/v1" elementFormDefault="qualified">
      <xsd:include schemaLocation="../Schemas/ConsultarEstoqueEBMV1.xsd"/>
      <xsd:import schemaLocation="../../../../Comum/v1/Schemas/Fault.xsd"
                  namespace="http://canonico.ultra.com.br/infcorp/v1"/>
      <xsd:import schemaLocation="../../../../Comum/v1/Schemas/MetaInformacao.xsd"
                  namespace="http://service.ultra.com.br/infcorp/LogIntegration/v1"/>
    </xsd:schema>
  </grammars>
  <resources>
    <resource path="/estoque/v1/consultaEstoque/consultaEstoque">
      <method name="GET" soa:wsdlOperation="ConsultaEstoque">
        <request soa:paramElement="pns:ConsultaEstoqueRequest"
                 xmlns:pns="http://service.ultra.com.br/estoque/ConsultaEstoque/v1">
          <param name="codigoItem" style="query" soa:expression="$msg.parameters/codigoItem" type="xsd:string"/>
          <param name="codigoLocalizacao" style="query"
                 soa:expression="$msg.parameters/localizacaoEstoqueLista/codigoLocalizacao" type="xsd:int"/>
          <param name="tipoLocalizacao" style="query"
                 soa:expression="$msg.parameters/localizacaoEstoqueLista/tipoLocalizacao" type="xsd:string"/>
          <param name="codigoCanal" style="query" soa:expression="$msg.parameters/localizacaoEstoqueLista/codigoCanal"
                 type="xsd:int"/>
          <param name="ConsultaEstoqueRequest.codigoCanal" style="query" soa:expression="$msg.parameters/codigoCanal"
                 type="xsd:string"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:ConsultaEstoqueResponse"
                          xmlns:cns="http://service.ultra.com.br/estoque/ConsultaEstoque/v1"/>
        </response>
        <response status="400" soa:wsdlFaultName="ConsultaEstoqueFault">
          <representation mediaType="application/json" element="cns:Fault"
                          xmlns:cns="http://canonico.ultra.com.br/infcorp/v1"/>
        </response>
      </method>
    </resource>
  </resources>
</application>