ESTOQUERETAILID/Estoque/ConsultaInventario/v1/WADL/ConsultaInventarioRestHTTPV1.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="ConsultaInventarioRestHTTPV1">ConsultaInventarioRestV1</doc>
   <grammars>
      <xsd:schema targetNamespace="http://service.ultra.com.br/estoque/ConsultaInventario/v1" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:include schemaLocation="../Schemas/ConsultaInventarioEBMV1.xsd"/>
            <xsd:import schemaLocation="../../../../Comum/v1/Schemas/Fault.xsd" namespace="http://canonico.ultra.com.br/infcorp/v1"/>
            <xsd:import schemaLocation="../../../../Comum/v1/Schemas/MetaInformacao.xsd" namespace="http://service.ultra.com.br/infcorp/LogIntegration/v1"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/estoque/v1/consultaInventario/consultaEstoque">
         <method name="GET" soa:wsdlOperation="consultaEstoque">
            <request soa:paramElement="pns:ConsultaInventarioRequest" xmlns:pns="http://service.ultra.com.br/estoque/ConsultaInventario/v1">
               <param name="codigoItem" style="query" soa:expression="$msg.parameters/codigoItem" type="xsd:string"/>
               <param name="codigoLocalizacao" style="query" soa:expression="$msg.parameters/localizacaoInventarioLista/codigoLocalizacao" type="xsd:int"/>
               <param name="tipoLocalizacao" style="query" soa:expression="$msg.parameters/localizacaoInventarioLista/tipoLocalizacao" type="xsd:string"/>
               <param name="codigoCanal" style="query" soa:expression="$msg.parameters/localizacaoInventarioLista/codigoCanal" type="xsd:int"/>
               <param name="ConsultaInventarioRequest.codigoCanal" style="query" soa:expression="$msg.parameters/codigoCanal" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:ConsultaInventarioResponse" xmlns:cns="http://service.ultra.com.br/estoque/ConsultaInventario/v1"/>
            </response>
            <response status="400" soa:wsdlFaultName="ConsultaInventarioFault">
               <representation mediaType="application/json" element="cns:Fault" xmlns:cns="http://canonico.ultra.com.br/infcorp/v1"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
