LOGISTICALEGADOID/Resources/RestReference.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="RestReference">RestReference</doc>
   <resources>
      <resource path="erp-imifarma/v1/recebimento/cd/agendamento">
         <method name="POST" soa:name="Method1">
            <request>
               <representation mediaType="application/json"/>
               <representation mediaType="*/*"/>
               <representation mediaType="application/xml"/>
               <representation mediaType="application/x-www-form-urlencoded"/>
            </request>
            <response/>
            <response/>
         </method>
      </resource>
      <resource path="erp-imifarma/v1/recebimento/cd/agendamento?code={code}">
         <method name="POST" soa:name="Method21">
            <request>
               <param name="code" style="template" default="" type="xsd:string"/>
               <representation mediaType="application/json"/>
               <representation mediaType="*/*"/>
               <representation mediaType="application/xml"/>
               <representation mediaType="application/x-www-form-urlencoded"/>
            </request>
         </method>
      </resource>
   </resources>
</application>
