LOGISTICARETAILID/Logistica/DevolucaoMercadoria/v1/Schemas/LoteItemDetalhe.xsd

<xsd:schema targetNamespace="http://service.ultra.com.br/logistica/DevolucaoMercadoria/v1"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns:tns="http://service.ultra.com.br/logistica/DevolucaoMercadoria/v1">

	<xsd:complexType name="LoteItemDetalheType">
		<xsd:sequence>
			<xsd:element name="codigoLote" type="xsd:string" minOccurs="0"/>
			<xsd:element name="dataValidade" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="quantidadeLote" type="xsd:integer" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="LoteItemDetalhe" type="tns:LoteItemDetalheType"></xsd:element>
</xsd:schema>