LOGISTICARETAILID/Logistica/ModificarOrdemEstoque/v1/WSDL/ModificarOrdemEstoqueV1.wsdl

<wsdl:definitions name="ModificarOrdemEstoque" 
targetNamespace="http://service.ultra.com.br/logistica/ModificarOrdemEstoque/v1"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:tns="http://service.ultra.com.br/logistica/ModificarOrdemEstoque/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:Q2="http://service.ultra.com.br/infcorp/LogIntegration/v1"
xmlns:Q3="http://canonico.ultra.com.br/infcorp/v1">

  <wsp:Policy wsu:Id="wss_username_token_over_ssl_service_policy"
              xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
              xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
              xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
    <sp:UsernameToken>
      <wsp:Policy>
        <sp:WssUsernameToken11/>
      </wsp:Policy>
    </sp:UsernameToken>
  </wsp:Policy>
    <wsdl:types>
      <xsd:schema targetNamespace="http://service.ultra.com.br/logistica/ModificarOrdemEstoque/v1" elementFormDefault="qualified">
          <xsd:include schemaLocation="../Schemas/ModificarOrdemEstoqueEBMV1.xsd"/>
      <xsd:import schemaLocation="../../../../Comum/v1/Schemas/Fault.xsd" 
                  namespace="http://canonico.ultra.com.br/infcorp/v1"/>
      <xsd:import schemaLocation="../../../../Comum/v1/Schemas/MetaInformacao.xsd"
                  namespace="http://service.ultra.com.br/infcorp/LogIntegration/v1"/>
      </xsd:schema> 
    </wsdl:types>
    <wsdl:message name="requestHeader">
        <wsdl:part element="Q2:MetaInformacao" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="ModificarOrdemEstoqueRequest">
        <wsdl:part element="tns:ModificarOrdemEstoqueRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="ModificarOrdemEstoqueResponse">
        <wsdl:part element="tns:ModificarOrdemEstoqueResponse" name="parameters"/>
    </wsdl:message>
  <wsdl:message name="ModificarOrdemEstoqueFaultMsg">
    <wsdl:part name="ModificarOrdemEstoqueFault" element="Q3:Fault"/>
  </wsdl:message>
    

    <!--HEADER-->
    <wsdl:portType name="ModificarOrdemEstoquePortType">
        <wsdl:operation name="modificarOrdemEstoque">
            <wsdl:input message="tns:ModificarOrdemEstoqueRequest"/>
            <wsdl:output message="tns:ModificarOrdemEstoqueResponse"/>
            <wsdl:fault name="ModificarOrdemEstoqueFault" message="tns:ModificarOrdemEstoqueFaultMsg"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ModificarOrdemEstoquePortBinding" type="tns:ModificarOrdemEstoquePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="modificarOrdemEstoque">
            <soap:operation soapAction="http://service.ultra.com.br/ModificarOrdemEstoque/v1/modificarOrdemEstoque"/>
            <wsdl:input>
                <soap:header message="tns:requestHeader" part="parameters" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ModificarOrdemEstoqueFault">
                <soap:fault use="literal" name="ModificarOrdemEstoqueFault"/>
            </wsdl:fault>
        </wsdl:operation>
       
    </wsdl:binding>
    <wsdl:service name="ModificarOrdemEstoqueService">
        <wsdl:port binding="tns:ModificarOrdemEstoquePortBinding" name="ModificarOrdemEstoquePort">
            <soap:address location="http://service.ultra.com.br/logistica/ModificarOrdemEstoque/v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>