PedidoReservaIntegracaoServico/Atacado/v1/WSDL/PedidoReservaV1.wsdl

<wsdl:definitions name="PedidoReserva" targetNamespace="http://service.ultra.com.br/atacado/PedidoReserva/v1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://service.ultra.com.br/atacado/PedidoReserva/v1"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:Q2="http://service.ultra.com.br/infcorp/LogIntegration/v1"
                  xmlns:Q3="http://canonico.ultra.com.br/infcorp/v1">
  <wsp:Policy wsu:Id="wss_username_token_over_ssl_service_policy"
              xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
              xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
              xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
    <sp:UsernameToken>
      <wsp:Policy>
        <sp:WssUsernameToken11/>
      </wsp:Policy>
    </sp:UsernameToken>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://service.ultra.com.br/atacado/PedidoReserva/v1" elementFormDefault="qualified">
      <xsd:include schemaLocation="../Schemas/PedidoReservaEBMV1.xsd"/>
      <xsd:import schemaLocation="../Schemas/Fault.xsd" namespace="http://canonico.ultra.com.br/infcorp/v1"/>
      <xsd:import schemaLocation="../Schemas/MetaInformacao.xsd"
                  namespace="http://service.ultra.com.br/infcorp/LogIntegration/v1"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="requestHeader">
    <wsdl:part element="Q2:MetaInformacao" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CriarPedidoReservaMercadoriaRequest">
    <wsdl:part element="tns:CriarPedidoReservaMercadoriaRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CriarPedidoReservaMercadoriaResponse">
    <wsdl:part element="tns:CriarPedidoReservaMercadoriaResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CriarPedidoReservaMercadoriaFaultMsg">
    <wsdl:part name="CriarPedidoReservaMercadoriaFault" element="Q3:Fault"/>
  </wsdl:message>
  <!--HEADER-->
  <wsdl:portType name="PedidoReservaPortType">
    <wsdl:operation name="criarPedidoReservaMercadoria">
      <wsdl:input message="tns:CriarPedidoReservaMercadoriaRequest"/>
      <wsdl:output message="tns:CriarPedidoReservaMercadoriaResponse"/>
      <wsdl:fault name="CriarPedidoReservaMercadoriaFault" message="tns:CriarPedidoReservaMercadoriaFaultMsg"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PedidoReservaPortBinding" type="tns:PedidoReservaPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="criarPedidoReservaMercadoria">
      <soap:operation soapAction="http://service.ultra.com.br/PedidoReserva/v1/criarPedidoReservaMercadoria"/>
      <wsdl:input>
        <soap:header message="tns:requestHeader" part="parameters" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CriarPedidoReservaMercadoriaFault">
        <soap:fault use="literal" name="CriarPedidoReservaMercadoriaFault"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PedidoReservaService">
    <wsdl:port binding="tns:PedidoReservaPortBinding" name="PedidoReservaPort">
      <soap:address location="http://service.ultra.com.br/atacado/PedidoReserva/v1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>