ESTOQUERETAILID/Estoque/ConsultaEstoque/v1/Schemas/InventoryDetailService3.XSD

<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.-->
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://www.oracle.com/retail/integration/base/bo/InvAvailDesc/v1" xmlns:tns="http://www.oracle.com/retail/integration/base/bo/InvAvailDesc/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="InvAvailDesc">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="item" type="xs:string"/>
            <xs:element name="location" type="xs:long"/>
            <xs:element name="loc_type" type="tns:loc_type"/>
            <xs:element name="channel_id" type="xs:int" minOccurs="0"/>
            <xs:element name="available_qty" type="xs:decimal"/>
            <xs:element name="unit_of_measure" type="xs:string"/>
            <xs:element name="available_date" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="pack_calculate_ind" type="tns:pack_calculate_ind" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="loc_type">
      <xs:restriction base="xs:string">
         <xs:enumeration value="S"/>
         <xs:enumeration value="W"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="pack_calculate_ind">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Y"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>