ESTOQUERETAILID/Estoque/ConsultaInventario/v1/WSDL/InventoryDetailService.WSDL

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<definitions targetNamespace="http://www.oracle.com/retail/rms/integration/services/InventoryDetailService/v1"
             name="InventoryDetailService" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://www.oracle.com/retail/rms/integration/services/InventoryDetailService/v1"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://www.oracle.com/retail/rms/integration/services/InventoryDetailService/v1"
                  schemaLocation="../Schemas/InventoryDetailService1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.oracle.com/retail/integration/services/exception/v1"
                  schemaLocation="../Schemas/InventoryDetailService2.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.oracle.com/retail/integration/base/bo/InvAvailDesc/v1"
                  schemaLocation="../Schemas/InventoryDetailService3.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.oracle.com/retail/integration/base/bo/InvAvailCriVo/v1"
                  schemaLocation="../Schemas/InventoryDetailService4.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.oracle.com/retail/integration/base/bo/InvAvailColDesc/v1"
                  schemaLocation="../Schemas/InventoryDetailService5.xsd"/>
    </xsd:schema>
  </types>
  <message name="lookupInvAvailCriVo">
    <part name="parameters" element="tns:lookupInvAvailCriVo"/>
  </message>
  <message name="lookupInvAvailCriVoResponse">
    <part name="parameters" element="tns:lookupInvAvailCriVoResponse"/>
  </message>
  <message name="IllegalArgumentWSFaultException">
    <part name="fault" element="ns1:IllegalArgumentWSFaultException"
          xmlns:ns1="http://www.oracle.com/retail/integration/services/exception/v1"/>
  </message>
  <message name="IllegalStateWSFaultException">
    <part name="fault" element="ns2:IllegalStateWSFaultException"
          xmlns:ns2="http://www.oracle.com/retail/integration/services/exception/v1"/>
  </message>
  <message name="ValidationWSFaultException">
    <part name="fault" element="ns3:ValidationWSFaultException"
          xmlns:ns3="http://www.oracle.com/retail/integration/services/exception/v1"/>
  </message>
  <message name="ping">
    <part name="parameters" element="tns:ping"/>
  </message>
  <message name="pingResponse">
    <part name="parameters" element="tns:pingResponse"/>
  </message>
  <portType name="InventoryDetailPortType">
    <operation name="lookupInvAvailCriVo">
      <input wsaw:Action="http://www.oracle.com/retail/rms/integration/services/InventoryDetailService/v1/InventoryDetailPortType/lookupInvAvailCriVoRequest"
             message="tns:lookupInvAvailCriVo"/>
      <output message="tns:lookupInvAvailCriVoResponse"/>
      <fault message="tns:IllegalArgumentWSFaultException" name="IllegalArgumentWSFaultException"/>
      <fault message="tns:IllegalStateWSFaultException" name="IllegalStateWSFaultException"/>
      <fault message="tns:ValidationWSFaultException" name="ValidationWSFaultException"/>
    </operation>
    <operation name="ping">
      <input wsaw:Action="http://www.oracle.com/retail/rms/integration/services/InventoryDetailService/v1/InventoryDetailPortType/pingRequest"
             message="tns:ping"/>
      <output message="tns:pingResponse"/>
    </operation>
  </portType>
  <binding name="InventoryDetailPortBinding" type="tns:InventoryDetailPortType">
    <wsaw:UsingAddressing/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="lookupInvAvailCriVo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="IllegalArgumentWSFaultException">
        <soap:fault name="IllegalArgumentWSFaultException" use="literal"/>
      </fault>
      <fault name="IllegalStateWSFaultException">
        <soap:fault name="IllegalStateWSFaultException" use="literal"/>
      </fault>
      <fault name="ValidationWSFaultException">
        <soap:fault name="ValidationWSFaultException" use="literal"/>
      </fault>
    </operation>
    <operation name="ping">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="InventoryDetailService">
    <port name="InventoryDetailPort" binding="tns:InventoryDetailPortBinding">
      <soap:address location="http://localhost/InventoryDetailService"/>
    </port>
  </service>
</definitions>